{% extends 'base.html' %}

{% block content %}

    <h2>제목 : {{ post.title }}</h2>
        {% if post_writer == request.user %}
            <a href="{% url 'blog:edit' pk=post.pk %}" class="btn btn-outline-success">수정</a>
            <form action="{% url 'blog:delete' pk=post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="삭제" class="btn btn-outline-success">
            </form>
        {% endif %}

    <p>내용 : {{ post.content }}</p>
    {% if post.location %}
        <p>위치: {{ post.location.name }}</p>
    {% endif %}
    {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="사진">
    {% endif %}
    <p>작성자 : {{ post.writer }}</p>
    <p>작성일 : {{ post.created_at }}</p>
    <p>수정일 : {{ post.updated_at }}</p>

    <!-- Comment -->
    <!-- 댓글 작성 -->
    <h3>댓글</h3>
    <form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
        {% csrf_token %}
        {% if comment_form.errors %}
            {% with form=comment_form %}
                {% include 'blog/form_error.html' %}
            {% endwith %}
        {% else %}
            {{ comment_form.content }}
        {% endif %}
        <input type="submit" value="댓글 작성">
    </form>
    <!-- 댓글 목록 -->
    {% if comments %}
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.content }} / {{ comment.created_at }}
                {% if post_writer == request.user %}
                    <!-- 댓글 수정 버튼 -->
                    <form action="{% url 'blog:cm-edit' pk=comment.pk %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="수정">
                    </form>
                    <!-- 댓글 삭제 버튼 -->
                    <form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="x" class="btn">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>댓글이 없습니다.</p>
    {% endif %}
{% endblock %}