{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <h2 class="main-title">글 수정하기</h2>
    <div class="view-header">
        <p>수정할 내용을 입력 해주세요.</p>
    </div>
    <div class="view">
        <br>
        <form action="{% url 'blog:edit' pk=post.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="btn" type="submit" value="수정">
        </form>
    </div>
    
</div>


<!-- css 적용해보기 -->
<div class="main">
    <h2 class="main-title">글 수정하기</h2>
    <div class="view-header">
        <p>수정할 내용을 입력 해주세요.</p>
    </div>
    
    <div class="view">
        <form action="{% url 'blog:edit' pk=post.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table write">
                <colgroup>
                <col style="width: 120px">
                <col>
                </colgroup>
                <tbody>
                <tr>
                    <th><label for="id_title">제목</label></th>
                    <td><input type="text" name="title" value="{{ post.title }}" required id="id_title" ></td>
                </tr>
                <tr>
                    <th><label for="location">위치</label></th>
                    <td>
                    <select name="location" id="id_location" >
                        {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="id_content">내용</label></th>
                    <td>
                    <textarea id="id_content" name="content" required>{{ post.content }}</textarea>
                    </td>
                </tr>
                <tr>
                    <th><label for="id_photo">첨부된 파일</label></th>
                    <td>
                    <a href="{{ blog_post.id.photo }}"></a>
                    <input type="checkbox" name="photo-clear" id="photo-clear_id">
                    <label for="photo-clear_id">취소</label>
                    </td>
                </tr>
                <tr>
                    <th><label for="board-file">변경 파일첨부</label></th>
                    <td>
                        <input type="file" name="photo" accept="image/*" id="id_photo">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn-group">
                <input class="btn" type="submit" value="수정">
            </div>
        </form>
    </div>
{% endblock %}