{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <title>
        {% block title %} {{ title }} {% endblock %}
    </title>
</head>
<body>
<!-- header -->
  <div class="header">
    <h1>
        <a href="{% url 'index' %}"> The bread club</a>
    </h1>
    <div class="header-click">
      <a href="{% url 'user:login' %}">
        로그인
      </a>
      <a href="{% url 'user:register' %}">
            회원가입
      </a>
      <a href="{% url 'user:profile' %}">
        마이페이지
      </a>
      <a href="{% url 'user:logout' %}">
        로그아웃
      </a>
    </div>
  </div>
  <!-- // header -->

  <!-- 글 작성 -->
  <form action="{% url 'blog:write' %}" method="get">
    {% csrf_token %}
    <input type="submit" value="글작성" class="btn">
  </form>
  <!-- /글 작성 -->

  <!-- 검색창 -->
  <form class="search-form" action="{% url 'blog:search' %}" method="GET">
    {% csrf_token %}
    <input type="text" name="search" placeholder="Search">
    <input type="submit" value="검색" class="btn">
  </form>
  <!-- //검색창 -->
  {% block content %}
  {% endblock %}
</body>
</html>