{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <title>
        {% block title %} {{ title }} {% endblock %}
    </title>
</head>
<body>
    <!-- header -->
		<header>
			<div class="max-width">
				<h1>
					<a href="./">
						<img src="./assets/Logo.svg" alt="My Blog" />
					</a>
				</h1>
				<ul>
					<!-- 로그인 -->
					<li>
						<a href="{% url 'user:register' %}">
							회원가입
						</a>
					</li>
                    <li>
						<a href="{% url 'user:login' %}">
							로그인
						</a>
					</li>
                    <li>
						<a href="{% url 'user:profile' %}">
							My Page
						</a>
					</li>
					<li>
                        <form action="{% url 'blog:write' %}" method="get" class="button">
                            {% csrf_token %}
                            <input type="submit" value="Write">
                        </form>
					</li>
					<li>
						<button class="button white">
							<img src="./assets/icon-logout.svg" alt="" />
							<span>Logout</span>
						</button>
					</li>
					<!-- //로그인 -->

					<!-- 로그아웃 -->
					<!--
					<li>
						<a href="#" class="button gray">
							<img src="./assets/icon-login.svg" alt="" />
							<span>Login</span>
						</a>
					</li>
					<li class="only-pc">
						<a href="#" class="button gray">
							<img src="./assets/icon-register.svg" alt="" />
							<span>Register</span>
						</a>
					</li>
          -->
					<!--// 로그아웃 -->
				</ul>
			</div>
		</header>
		<!--// header -->

		<!-- banner -->
		<div class="banner" style="background-image: url(./images/post-background6.jpg)">
			<div class="max-width">
				<div class="banner-contents">
					<p class="today">May <em>25</em> Wednesday</p>
				</div>
			</div>
		</div>
		<!-- //banner -->
    {% block content %}
    {% endblock %}
</body>
</html>