{% extends 'base.html' %}

{% block content %}
    <!-- 검색창 -->
    <form action="{% url 'blog:search' %}" method="GET">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="검색" class="btn">
    </form>
    <!-- //검색창 -->

    <p class="main-title">블로그 게시판 첫 화면입니다.</p>

    {% if posts %}
    <table class="table list">
        <colgroup>
          <col style="width: 60px">
          <col>
          <col style="width: 100px">
          <col style="width: 120px">
          <col style="width: 100px">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>위치</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts reversed%}
            <tr>
                <td>{{ forloop.counter1 }}</td>
                <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                <td>{{ post.writer }}</td>
                <td>{{ post.created_at }}</td>
                <td>{{ post.location }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="nodata" colspan="5">등록된 게시물이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
      </table>
{% endblock %}