{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if posts %}
    <table class="table list">
        <colgroup>
          <col style="width: 60px">
          <col style="width: 120px">
          <col style="width: 80px">
          <col style="width: 100px">
          <col style="width: 80px">
        </colgroup>
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>위치</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts reversed%}
            <tr>
                <td>{{ forloop.revcounter }}</td>
                <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                <td>{{ post.writer }}</td>
                <td>{{ post.created_at }}</td>
                <td>{{ post.location }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="nodata" colspan="5">등록된 게시물이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
      </table>
      <!-- 글 작성 -->
      <form action="{% url 'blog:write' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="글작성" class="btn-write">
      </form>
      <!-- /글 작성 -->
{% endblock %}